<div class="page-header">
  <h1>{{viesti.title}}</h1>
</div>

<p>
  {{viesti.content}}
</p>

<h2>{{viesti.Replies.length}}<span ng-pluralize count="viesti.Replies.length" when="{ '0': ' vastausta', 'one': ' vastaus', 'other': ' vastausta' }"></span></h3>

<ul class="media-list" ng-repeat="vastaus in viesti.Replies">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">Käyttäjätunnus tähän</h4>

      <p>
        {{vastaus.content}}
      </p>

      <p class="text-muted">
        {{vastaus.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}
      </p>
    </div>
  </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReplyContent"></textarea>
  </div>
    <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
</form>
